/* ====== Advantage ====== */

.advantage-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 24px 20px 23px;
  width: 280px;
  list-style: none;

  @media @tablet {
    min-width: 768px;
    margin: 0 auto;
    margin-bottom: 38px;
  }

  @media @desktop {
    margin: 0;
    margin-bottom: 57px;
  }
}

.advantage-grid {
  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    list-style: none;
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    box-sizing: border-box;
    justify-content: space-between;
  }
}

.house {
  @media @tablet {
    order: 1;
  }

  @media @desktop {
    order: 1;
  }
}

.food {
  @media @tablet {
    order: 2;
  }

  @media @desktop {
    order: 2;
  }
}

.souvenir {
  @media @tablet {
    order: 3;
  }

  @media @desktop {
    order: 3;
  }
}

.advantage-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.advantage-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: left;
}

.house__img-wrapper,
.souvenir__img-wrapper,
.food__img-wrapper {
  @media @mobile {
    display: inline-block;
    margin-right: 260px;
  }

  @media @tablet {
    margin-right: 0;
  }

  @media @desktop {
    margin-right: 0;
  }
}

.house-img {
  @media @tablet {
    width: 75px;
    height: 72px;
  }

  @media @desktop {
    width: 75px;
    height: 72px;
  }
}

.house__img-wrapper {
  margin-top: 1px;

  @media @tablet {
    margin-top: 35px;
    margin-left: -35px;
  }

  @media @desktop {
    margin-top: 35px;
    margin-left: -55px;
  }
}

.advantage-title--house {
  margin-top: -30px;
  margin-left: 48px;

  @media @tablet {
    margin-top: 25px;
    margin-left: 65px;
    font-size: 21px;
    line-height: 21px;
  }

  @media @desktop {
    margin-top: 25px;
    margin-left: 135px;
    font-size: 21px;
    line-height: 21px;
  }
}

.advantage-text--house {
  margin-top: 20px;
  margin-left: 50px;

  @media @tablet {
    width: 185px;
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
  }

  @media @desktop {
    margin-left: 30px;
    width: 282px;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
  }
}

.gift-img {
  @media @tablet {
    width: 63px;
    height: 75px;
  }

  @media @desktop {
    width: 63px;
    height: 75px;
  }
}

.souvenir__img-wrapper {
  margin-top: 10px;
  margin-left: 0;

  @media @tablet {
    margin-top: 30px;
    margin-left: 40px;
  }

  @media @desktop {
    margin-top: 33px;
    margin-left: -55px;
  }
}

.advantage-title--souvenir {
  margin-top: -30px;
  margin-left: 50px;

  @media @tablet {
    margin-top: 28px;
    margin-left: 90px;
    font-size: 21px;
    line-height: 21px;
  }

  @media @desktop {
    margin-top: 23px;
    margin-left: 120px;
    font-size: 21px;
    line-height: 21px;
  }
}

.advantage-text--souvenir {
  margin-top: 18px;
  margin-left: 50px;

  @media @tablet {
    width: 193px;
    text-align: center;
    margin-top: 26px;
    margin-right: -8px;
  }

  @media @desktop {
    text-align: center;
    margin-top: 25px;
    margin-left: 80px;
    font-size: 14px;
    line-height: 21px;
  }
}

.hidden-br {
  display: none;

  @media @tablet {
    display: none;
  }
}

.food-img {
  @media @tablet {
    width: 76px;
    height: 69px;
  }

  @media @desktop {
    width: 76px;
    height: 69px;
  }
}

.food__img-wrapper {
  margin-top: 19px;

  @media @tablet {
    margin-top: 37px;
    margin-left: -20px;
  }

  @media @desktop {
    margin-top: 37px;
    margin-left: -55px;
  }
}

.advantage-title--food {
  margin-top: -30px;
  margin-left: 50px;

  @media @tablet {
    margin-top: 25px;
    margin-left: 95px;
    font-size: 21px;
    line-height: 21px;
  }

  @media @desktop {
    margin-top: 25px;
    margin-left: 150px;
    font-size: 21px;
    line-height: 21px;
  }
}

.advantage-text--food {
  margin-top: 18px;
  margin-left: 50px;
  width: 180px;

  @media @tablet {
    width: 155px;
    text-align: center;
    margin-top: 29px;
    margin-left: 35px;
  }

  @media @desktop {
    width: 300px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 21px;
  }
}
