.advantage-list {
  margin: 0 auto;
  padding: 24px 20px 23px;
  width: 280px;
  list-style: none;
}

.advantage-list__item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 50px;
  box-sizing: border-box;
}

.advantage-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.advantage-text {
  background-color: @white;
  color: @black;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.house__img-wrapper {
margin-left: -290px;
}

.souvenir__img-wrapper {
margin-left: -290px;
}

.food__img-wrapper {
margin-left: -290px;
}
