.features-additional {
  background-color: @gray;
}

.features-additional__title {
  background-color: @gray;
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
}

.features-additional__number {
  background-color: @gray;
  color: var(--black);
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.features-additional__text {
  background-color: @gray;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}
