.page-footer__hashtag {
  width: 138px;
  font-size: 21px;
  font-weight: 700;
  color: @black;
  background-color: @white;
}




.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-list__item {
  margin: 0 3px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 44px;
  border: 2px solid @blue;
  background-color: @blue;

  &:hover {
    border-color: @blue-hover;
    background-color: @blue-hover;
  }

  &:active {
    border-color: @blue-hover;
    background-color: @blue-hover;
  }

  &:focus {
    border-color: @blue-hover;
    outline: 0;
  }
}

