/* ====== Header ====== */

.site-list {
  display: flex;
  flex-direction: column;
  background-color: @blue;
  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media @desktop {
    color: @black;
    background-color: @white;
  }
}

.site-list__item {
  border-bottom: 1px solid @white;
}

.site-list__item .site-list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: @white;
  @media @desktop {
    color: @black;
  }
  @media @tablet {
    color: @black;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  @media @desktop {
    width: 188px;
    height: 96px;
  }
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
  @media @desktop {
    width: 188px;
    height: 96px;
  }
}


/* ========= Header навигация ======== */

.main-nav {
  position: relative;
  padding-bottom: 56px;

  @media @tablet {
    padding-bottom: 0;
    background-color: @white;
  }
}

.page-header__logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: auto;
  transform: translateX(-50%);

  @media @tablet {
    bottom: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  &:hover,
  &:active {
    background-color: @blue;
    opacity: 0.3;
  }
  @media @tablet {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  color: @blue;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white, 0 16px 0 0 @white;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@white, 30%);
  box-shadow: 0 8px 0 0 fade(@white, 30%), 0 16px 0 0 fade(@white, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: @white;
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:active::before,
  &:active::after {
    background-color: fade(@white, 30%);
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: @blue;
}

.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 7px;
  height: 100%;
  box-shadow: inset 4px 0 7px -2px fade(@black, 40%);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.man-nav {
  @media @tablet {
    height: 56px;
  }
  @media @desktop {
    height: 56px;
  }
}

.site-list__item {
  color: @white;
  text-align: center;
  background-color: @blue;
  @media @tablet {
    line-height: 26px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 25%;
    color: @black;
    background-color: @white;
  }
  @media @desktop {
    line-height: 26px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 25%;
    color: @black;
    background-color: @white;
  }
  &:not(&--active):hover {
    background-color: @blue-hover;
  }
  &:not(&--active):active {
    color: fade(@white, 30%);
    background-color: @blue;
  }
  &--active {
    color: fade(@white, 60%);
  }
}

.site-list__link {
  display: block;
  padding: 8px 20px 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  @media @tablet {
    padding: 15px 20px 15px;
    font-size: 14px;
    line-height: 26px;
  }
}

.site-list__link:last-child .site-list__link {
  box-shadow: 0 -7px 7px -7px fade(@black, 20%) inset;
  @media @tablet {
    box-shadow: none;
  }
}
