/* ====== Intro на главной странице ====== */

.intro__img-wrapper {
  position: relative;
  padding-top: 51px;
  height: 389px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: @blue;
  background-image: url("../img/back-mobile.png");
}

.intro__img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 57px;
  background: url("../img/intro-triangle.svg") no-repeat 50% 50%;
}

.intro__text-wrapper {
  margin-top: 34px;
  margin-left: 25px;
  margin-right: 25px;
}


.intro__title {
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.intro__text {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
