.mobile-hidden {
  display: none;

  @media @desktop {
    display: inline;
  }
}



/* ====== Features ====== */


.features-main {
  @media @tablet {
display: grid;
grid-template-columns: 256px 512px;
margin: auto;
  }
}

.features-extra {
  @media @tablet {
display: grid;
grid-template-columns: 512px 256px;
margin: auto;
  }
}


.features {
  position: relative;
  padding-top: 19px;

&::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 37px;
  margin-top: 10px;
  background-image: url("../img/white copy 2.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
  }
}

.features::before {
  @media @tablet {
    background-image: none;
  }

  @media @desktop {
    background-image: none;
  }
}

.features__description {
  box-sizing: border-box;
  text-align: center;
  padding: 38px 6.25% 25px;
  color: @white;
  background-color: @blue;

&--first {
  padding-top: 58px;
  @media @tablet {
  width: 256px;
}
  @media @desktop {
  width: 400px;
}
  }
}

.features__title {
  margin-top: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @white;
}

.features__number {
  margin-top: 9px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features__text {
  margin-top: 16px;
  margin-left: -11px;
  margin-right: -9px;
  padding-bottom: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features-main__img-wrapper {
  position: relative;
  overflow: hidden;
  height: 260px;
  width: 100%;

  @media @tablet {
    width: 512px;
  }

    @media @desktop {
    width: 800px;
  }
}

.features__img {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.features-main {
@media @desktop {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
}

/* ====== Advantage ====== */

.advantage-list {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
  margin: 0 auto;
  padding: 24px 20px 23px;
  width: 280px;
  list-style: none;

@media @tablet {
  display: flex;
  flex-direction: row;
  list-style: none;
}
@media @desktop {
  display: flex;
  flex-direction: row;
  list-style: none;
}
}

.house {
  @media @tablet {
    order: 1;
  }
    @media @desktop {
    order: 1;
  }
}

.food {
  @media @tablet {
    order: 2;
  }
    @media @desktop {
    order: 2;
  }
}

.souvenir {
  @media @tablet {
    order: 3;
  }
    @media @desktop {
    order: 3;
  }
}


.advantage-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.advantage-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: left;
}

.house__img-wrapper,
.souvenir__img-wrapper,
.food__img-wrapper {
  @media @mobile {
  display: inline-block;
  margin-right: 260px;
}
 @media @tablet {
  margin-right: 0px;
}
 @media @desktop {
  margin-right: 0px;
}
}

.house-img {

  @media @tablet {
  width: 75px;
  height: 72px;
}

  @media @desktop {
  width: 75px;
  height: 72px;
}
}

.house__img-wrapper {
  margin-top: 1px;
  margin-left: -18px;

    @media @tablet {
  margin-top: 35px;
  margin-left: -530px;
}

  @media @desktop {
  margin-top: 35px;
  margin-left: -530px;
}
}

.advantage-title--house {
  margin-top: -32px;
  margin-left: 30px;


  @media @tablet {
  margin-top: 30px;
  margin-left: -200px;
  font-size: 21px;
  line-height: 21px;
}

  @media @desktop {
  margin-top: 30px;
  margin-left: -300px;
  font-size: 21px;
  line-height: 21px;
}
}

.advantage-text--house {
  margin-top: 20px;
  margin-left: 30px;

  @media @tablet {
  width: 185px;
  text-align: center;
  margin-top: 25px;
  margin-left: -200px;
}

  @media @desktop {
  width: 282px;
  text-align: center;
  margin-top: 25px;
  margin-left: -400px;
  font-size: 14px;
  line-height: 21px;
}
}

.gift-img {
  @media @tablet {
  width: 63px;
  height: 75px;
}

  @media @desktop {
  width: 63px;
  height: 75px;
}
}

.souvenir__img-wrapper {
  margin-top: 10px;
  margin-left: -15px;

      @media @tablet {
  margin-top: 33px;
  margin-right: -70px;
}

    @media @desktop {
  margin-top: 33px;
  margin-right: -70px;
}
}

.advantage-title--souvenir {
  margin-top: -30px;
  margin-left: 30px;

      @media @tablet {
  margin-top: 30px;
  margin-left: 145px;
  font-size: 21px;
  line-height: 21px;
}

    @media @desktop {
  margin-top: 30px;
  margin-left: 145px;
  font-size: 21px;
  line-height: 21px;
}
}

.advantage-text--souvenir {
  margin-top: 18px;
  margin-left: 30px;

  @media @tablet {
  width: 193px;
  text-align: center;
    margin-top: 21px;
  margin-left: 80px;
}

    @media @desktop {
  width: 244px;
  text-align: center;
  margin-top: 21px;
  margin-left: 80px;
  font-size: 14px;
  line-height: 21px;
}
}

.food-img {
  @media @tablet {
  width: 76px;
  height: 69px;
}

  @media @desktop {
  width: 76px;
  height: 69px;
}
}

.food__img-wrapper {
  margin-top: 19px;
  margin-left: -19px;

    @media @tablet {
  margin-top: 37px;
  margin-right: 17px;
}

  @media @desktop {
  margin-top: 37px;
  margin-right: 17px;
}
}

.advantage-title--food {
  margin-top: -30px;
  margin-left: 30px;

       @media @tablet {
  margin-top: 30px;
  margin-left: 120px;
  font-size: 21px;
  line-height: 21px;
}

     @media @desktop {
  margin-top: 30px;
  margin-left: 120px;
  font-size: 21px;
  line-height: 21px;
}
}

.advantage-text--food {
  margin-top: 18px;
  margin-left: 30px;

  @media @tablet {
  width: 180px;
  text-align: center;
    margin-top: 21px;
  margin-left: -5px;
}

  @media @desktop {
  width: 313px;
  text-align: center;
  margin-top: 21px;
  margin-left: -5px;
  font-size: 14px;
  line-height: 21px;
}
}

/* ====== Features-extra ====== */

.features-extra {
  margin-top: 32px;
}

.features-extra__img-wrapper {
  width: 100%;
  height: 260px;

  @media @tablet {
    width: 512px;
  }

    @media @desktop {
    width: 800px;
  }
}

.features-extra--reverse {

  @media @tablet {
  flex-direction: row-reverse;
  min-height: 256px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

  @media @desktop {
  flex-direction: row-reverse;
  min-height: 256px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
}

.features-extra__text {
  margin-bottom: -10px;
}

.features-extra__description {
  @media @tablet {
    width: 256px;
  }
    @media @desktop {
    width: 400px;
  }
}


/* ====== Features-add ====== */

.features-additional {
  text-align: center;
  padding-right: 6.25%;
  background-color: @gray;

  @media @tablet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  justify-content: space-between;
  list-style: none;
  border: none;
}
  @media @desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  justify-content: space-between;
  list-style: none;
  border: none;
}
}


.features-additional__item {
  box-sizing: border-box;
  padding: 26px 15px 13px;
  border-bottom: 1px solid @light-gray;

  &:last-child {
    border-bottom: none;
  }

  @media @tablet {
    border-bottom: none;
  }
    @media @desktop {
    border-bottom: none;
  }
}


.features-additional__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-additional__text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
}

.features-additional__number {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
}

.features-additional__title--first {
  margin-left: 20px;

  @media @desktop {
  margin-top: 30px;
}
}

.features-additional__number--first {
  margin-top: 10px;
  margin-left: 19px;
}

.features-additional__text--first {
  margin-top: 18px;
  margin-left: 5px;
  margin-right: -15px;
}

.features-additional__title--second {
  margin-top: 10px;
  margin-left: 20px;
}

.features-additional__number--second {
  margin-top: 10px;
  margin-left: 19px;
}

.features-additional__text--second {
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 10px;
}

.features-additional__title--third {
  margin-top: 12px;
  margin-left: 20px;
}

.features-additional__number--third {
  margin-top: 10px;
  margin-left: 19px;
}

.features-additional__text--third {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 12px;
}

.features-additional-item__first {
  @media @desktop {
  width: 400px;
  margin-bottom: 44px;
}
}

.features-additional-item__second {
    @media @desktop {
  width: 400px;
  padding-top: 47px;
  margin-bottom: 44px;
}
}

.features-additional-item__third {
    @media @desktop {
  width: 400px;
  padding-top: 47px;
  margin-bottom: 44px;
}
}


/* ====== Search ====== */

.search-hotel__title {
  margin-top: 35px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.search-hotel__description {
  margin-top: 22px;
  margin-bottom: 28px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.search-hotel__button {
  display: block;
  box-sizing: border-box;
  padding: 13px 10px;
  border: 3px solid @blue;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  color: @white;
  line-height: 26px;
  text-align: center;
  text-transform: inherit;
  text-decoration: none;
  background-color: @blue;
  cursor: pointer;
  width: 280px;
     text-align: center;
       margin-left: auto;
    margin-right: auto;


  @media @tablet {
  margin-top: 42px;
  width: 458px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  @media @desktop {
  margin-top: 47px;
  width: 458px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  &:hover {
    background-color: @blue-hover;
    border-color: @blue-hover;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @blue-hover;
    border-color: @blue-hover;
  }

  &:focus {
    border-color: @blue-hover;
    outline: 0;
  }

  &:disabled {
    background-color: @blue-down;
    border-color: @blue-down;
  }
}


.map {
  @media @tablet {
  width: 768px;
  }

  @media @desktop {
  width: 1200px;
  }
}



/* ========= Форма ======== */

/* ========= Форма intro ======== */

.form-main__img-wrapper {
  position: relative;
  height: 214px;
  background: @blue url("../img/back-mobile.jpg") no-repeat 50% 21%;

    @media @retina {
    background-image: url("../img/form-mobile2x.jpg");
  }

    @media @tablet {
    padding-top: 95px;
    background-image: url("../img/form-tablet.jpg");
    background-size: cover;

      @media @retina {
      background-image: url("../img/form-tablet2x.jpg");
    }
  }

  @media @desktop {
    padding-top: 103px;
    background-image: url("../img/form-desktop.jpg");
    background-size: image-size("../img/form-desktop.jpg");

        @media @retina {
      background-image: url("../img/form-desktop2x.jpg");
    }
  }
}

.form-main__img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url("../img/intro-triangle.svg") no-repeat 50% 50%;

    @media @tablet {
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-tablet.svg");
      background-size: 100% 57px;
    }

    @media @desktop {
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-desktop.svg");
    }
}

.form-main__img {
  @media @desktop {
  margin-top: 90px;
  width: 457px;
}
}

.form-main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form-main__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}



/* ========= ФОТО ======== */

/* ========= ФОТО intro ======== */

.photo-intro__img-wrapper {
  position: relative;
  height: 214px;
  background: @blue url("../img/back-desktop.png") no-repeat 50% 21%;

    @media @retina {
    background-image: url("../photo-mobile2x.jpg");
  }

    @media @tablet {
    padding-top: 95px;
    background-image: url("../img/form-tablet.jpg");
    background-size: cover;

        @media @retina {
    background-image: url("../img/photo-tablet2x.jpg");
  }
  }

  @media @desktop {
    padding-top: 103px;
    background-image: url("../img/form-desktop.jpg");
    background-size: image-size("../img/form-desktop.jpg");

        @media @retina {
    background-image: url("../img/photo-desktop2x.jpg");
  }
  }
}

.photo-intro__img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 57px;
  background: url("../img/intro-triangle.png") no-repeat 50% 50%;

      @media @tablet {
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-tablet.svg");
      background-size: 100% 57px;
    }

    @media @desktop {
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-desktop.svg");
    }
}

.photo-intro__img {
    @media @desktop {
  margin-top: 90px;
  width: 457px;
}
}

.photo-intro__title {
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-intro__text {
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
