.video-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 30px;

  @media @tablet {
    margin-top: 55px;
    font-size: 30px;
  }

  @media @desktop {
    margin-top: 65px;
    font-size: 30px;
  }
}

.video-text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 27px auto 35px;
  width: 250px;

  @media @tablet {
    margin-top: 31px;
    margin-bottom: 80px;
    width: 460px;
  }

  @media @desktop {
    margin-top: 31px;
    margin-bottom: 80px;
  }
}

.video {
  position: relative;

  @media @tablet {
    margin-bottom: 75px;
  }
}

.video__img {
  display: block;
  width: 100%;
  height: auto;
}

.video__panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 6.25%;
  margin-right: 6.25%;
}

.video-controls {
  height: 45px;
  background-color: fade(@black, 60%);

  @media @tablet {
    height: 93px;
  }
}

.video-controls__scale {
  position: relative;
  z-index: 20;
  margin: 21px;
  height: 3px;
  background-color: fade(@white, 20%);
}

.video-controls__handle {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 9px;
  height: 9px;
  border: none;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
}

.video-controls__buttons {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  height: 66px;
  background-color: @bg-color-body;
}

.video-controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--subtitles {
    margin-left: auto;
    margin-right: 17px;
  }
}

.video-controls__icon {
  display: block;
  height: 20px;
  fill: @video-icon;

  &--replay {
    width: 16px;
  }

  &--subtitles {
    width: 32px;
  }

  &--fullscreen {
    width: 20px;
  }
}

.video-controls__button:hover .video-controls__icon {
  fill: @dark-gray;
}

.video-controls__button:active .video-controls__icon {
  fill: @dark-gray;
  fill-opacity: 0.3;
}
