/* ========= Base colors ======== */

@black: #000000;
@white: #ffffff;
@blue: #81B3D2;
@basic-gray: #e5e5e5;
@gray: #EEEEEE;
@light-gray: #d6d6d6;
@main-background: #E7E5E5;

@video-icon: #5c6870;
@bg-color-body: #f2f2f2;
@bg-color-photo: #eaeaea;
@dark-gray: #333333;

/* ========= HOVER and ACTIVE ======== */

@blue-hover: #669EC0;
@blue-down: #5496BD;
@main-menu-active: #766357;
@main-menu-hover: #604E43;


/* ========= Viewports ======== */

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

@tablet-max-width: (@desktop-width - 1);

@retina-dpi: 144dpi;

@mobile: ~"(min-width: @{mobile-width})";
@tablet: ~"(min-width: @{tablet-width})";
@desktop: ~"(min-width: @{desktop-width})";

@retina: ~"(min-resolution: @{retina-dpi})";
